{{#bulma-column is2=true}}
  <aside class="menu">
    <p class="menu-label">Select a league to show events</p>
  </aside>
{{/bulma-column}}

{{#bulma-column}}
  <aside class="menu">
    <p class="menu-label">Select a league and event to show markets</p>
  </aside>
{{/bulma-column}}