<h2 class="title">Homepage</h2>

{{#bulma-columns}}

  {{#bulma-column}}
    <div class="content">
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam eveniet odit quo fuga dolore, animi iste illo impedit enim, eius ducimus eligendi quis sunt fugit hic, est ab quasi. Tempore.</p>

      <p>Sed assumenda temporibus exercitationem cum quos ipsam asperiores laudantium sequi modi inventore, doloremque porro minus rerum, facilis suscipit ea! Consequuntur ut, accusamus adipisci cum saepe cumque voluptas sunt tempora quis!</p>

      <p>Nemo veritatis ipsum assumenda odio vel molestias expedita, tempore itaque aliquid voluptates culpa dicta enim, repudiandae officia minima deleniti impedit fuga ipsam. Accusamus repellat ipsa similique excepturi rem! Beatae, modi?</p>

      <p>Aliquam ipsum ex animi cum consequatur corporis officiis quam quisquam natus dolores dolor, voluptatibus corrupti, ab ullam fugit ea suscipit eos velit, eaque illum? Cum ipsa hic ut magni officia.</p>

      <p>Labore, ipsam quos. Nesciunt quis temporibus aperiam. Iste dicta esse, distinctio repellendus, repellat error numquam incidunt iusto necessitatibus repudiandae modi in voluptate, quia dignissimos autem fuga et tempora! Accusantium, voluptatibus!</p>

      <p>Exercitationem nihil facere quo quia expedita. Nam sapiente sit commodi, repudiandae reiciendis nostrum ab animi quo id ut in, assumenda maiores pariatur minima aliquam autem dolor veritatis, provident expedita repellat.</p>

      <p>Eligendi dolorem, ex beatae sit deleniti magnam voluptate asperiores placeat est cupiditate! Recusandae, unde ipsum. At architecto autem maiores sequi fugit laborum quo nesciunt suscipit? Id laborum architecto eligendi porro!</p>
    </div>
  {{/bulma-column}}

  {{#bulma-column isOneQuarter=true}}

  {{/bulma-column}}
{{/bulma-columns}}